# .NET
**/bin/
**/obj/

# VS Code / IDE
.vscode/*.code-workspace
.idea/
*.DotSettings.user

# CMake / native builds
native/**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile

# Linux / native artifacts
*.so
*.a
*.o


TestResults/
coverage/


# Continue.dev / AI tooling
.continueignore